[user]
	name = Emin Umut Gerçek
	email = umutgercek1999@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[diff]
	colorMoved = zebra
